.animewatching-entry {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
}

.animewatching-entry > * {
    height: 100%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.animewatching-box {
    height: 100%;
    display: table;
}

.animewatching-text {
    vertical-align: middle;
    display: table-cell;
}

.animewatching-caret {
    width: 20px;
}

.animewatching-progress {
    margin-left: auto;
    text-align: center;
    width: 100px;
}

.animewatching-progress > .animewatching-box {
    margin-left: auto;
    margin-right: auto;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#animewatching-loading {
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
}