.aw-entry-first {
    border-top: 1px solid lightgray;
}

.aw-body {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.aw-entry {
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-bottom: 1px solid lightgray;
}

.aw-entry > * {
    height: 100%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.aw-box {
    width: 100%;
    height: 100%;
    display: table;
}

.aw-text {
    vertical-align: middle;
    display: table-cell;
    cursor: default;
}

.aw-title {
    margin-left: 10px;
}

.aw-caret {
    width: 20px;
}

.aw-progress {
    margin-left: auto;
    text-align: center;
    width: 100px;
}

.aw-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}

.aw-splash {
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
}