#navbar + div {
    margin-top: 70px;
}

.splash {
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
}

a {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}