.row {
	display: flex;
}

.cell {
	height: 30px;
	width: 30px;
	border: 1px solid gray;
    margin-right: 1px;
    margin-bottom: 1px;
}

.unit {
    background-color: gray;
}

.cell-hover {
    border: 2px solid red;
}

.cell-selected {
    border: 2px solid blue;
}