<div class="container-fluid" ng-switch on="aw_status">
  <div ng-switch-when="ok">
    <accordion close-others="true">
      <accordion-group ng-repeat="anime in anime.watching | orderBy:'last_watched':true" is-open="status.open">
        <accordion-heading>
          <div class="aw-entry" ng-class="{'aw-entry-first': $first}">
              <div class="aw-caret">
                <div class="aw-box">
                  <div class="aw-text glyphicon" ng-class="{'glyphicon-chevron-down': !status.open, 'glyphicon-chevron-up': status.open}"></div>
                </div>
              </div>
              <div class="aw-title">
                <div class="aw-box">
                  <p class="aw-text">{{ anime.anime.title }}</p>
                </div>
              </div>
              <div class="aw-progress">
                <div class="aw-box">
                  <p class="aw-text">
                    {{ anime.episodes_watched }} /
                    <span ng-if="anime.anime.episode_count > 0">{{ anime.anime.episode_count }}</span>
                    <span ng-if="anime.anime.episode_count == 0">?</span>
                  </p>
                </div>
              </div>
            </div>
        </accordion-heading>
        <div class="aw-body row">
          <div class="aw-left col-sm-3">
            <img class="aw-cover" ng-src="{{ anime.anime.cover_image }}">
          </div>
          <div class="col-sm-9">
            {{ anime.anime.synopsis }}
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
  <div ng-switch-when="loading">
    <div class="aw-splash">
      <img src="/assets/img/ajax-loader.gif"> Loading...
    </div>
  </div>
  <div ng-switch-when="error">
    <div class="aw-splash">
      <p><span class="glyphicon glyphicon-warning-sign"></span> An error occurred.</p>
      <p><button class="btn btn-default" ng-click="animeWatchingLoad()">Retry</button></p>
    </div>
  </div>
</div>