<div class="container-fluid" ng-switch on="pageStatus">
  <div ng-switch-when="ok">
    <h2>Currently watching</h2>
    <accordion close-others="true">
      <accordion-group ng-repeat="anime in data.watching" is-open="status.open">
        <accordion-heading>
          <div class="aw-entry" ng-class="{'aw-entry-first': $first}">
            <div class="aw-caret">
              <div class="aw-box">
                <div class="aw-text glyphicon" ng-class="{'glyphicon-chevron-down': !status.open, 'glyphicon-chevron-up': status.open}"></div>
              </div>
            </div>
            <div class="aw-title">
              <div class="aw-box">
                <p class="aw-text">{{ anime.anime.title }}</p>
              </div>
            </div>
            <div class="aw-progress">
              <div class="aw-box">
                <p class="aw-text">
                  {{ anime.episodes_watched }} /
                  <span ng-if="anime.anime.episode_count > 0">{{ anime.anime.episode_count }}</span>
                  <span ng-if="anime.anime.episode_count == 0">?</span>
                </p>
              </div>
            </div>
          </div>
        </accordion-heading>
        <div class="aw-body row">
          <div class="aw-left col-sm-3">
            <img class="aw-cover" ng-src="{{ anime.anime.cover_image }}">
          </div>
          <div class="col-sm-9">
            <p ng-if="anime.anime.alternate_title">
              <strong>Alternate title: </strong>
              <em>{{ anime.anime.alternate_title }}</em>
            </p>
            <p><strong>Type:</strong> <em>{{ anime.anime.show_type }}</em></p>
            <p><strong>Genres:</strong> <em><span ng-repeat="g in anime.anime.genres">{{ g.name }}{{ !$last && ", " || "" }}</span></em></p>
            <p>{{ anime.anime.synopsis }}</p>
          </div>
        </div>
      </accordion-group>
    </accordion>
    <h2>Recently completed</h2>
    <accordion close-others="true">
      <accordion-group ng-repeat="anime in data.completed" is-open="status.open">
        <accordion-heading>
          <div class="aw-entry" ng-class="{'aw-entry-first': $first}">
            <div class="aw-caret">
              <div class="aw-box">
                <div class="aw-text glyphicon" ng-class="{'glyphicon-chevron-down': !status.open, 'glyphicon-chevron-up': status.open}"></div>
              </div>
            </div>
            <div class="aw-title">
              <div class="aw-box">
                <p class="aw-text">{{ anime.anime.title }}</p>
              </div>
            </div>
            <div class="aw-progress">
              <div class="aw-box">
                <p class="aw-text">
                  {{ anime.episodes_watched }} ep.
                </p>
              </div>
            </div>
          </div>
        </accordion-heading>
        <div class="aw-body row">
          <div class="aw-left col-sm-3">
            <img class="aw-cover" ng-src="{{ anime.anime.cover_image }}">
          </div>
          <div class="col-sm-9">
            <p ng-if="anime.anime.alternate_title">
              <strong>Alternate title: </strong>
              <em>{{ anime.anime.alternate_title }}</em>
            </p>
            <p><strong>Type:</strong> <em>{{ anime.anime.show_type }}</em></p>
            <p><strong>Genres:</strong> <em><span ng-repeat="g in anime.anime.genres">{{ g.name }}{{ !$last && ", " || "" }}</span></em></p>
            <p>{{ anime.anime.synopsis }}</p>
          </div>
        </div>
      </accordion-group>
    </accordion>
    <p class="aw-hummingbird">Powered by <a href="http://hummingbird.me/users/LrsNate/library">Hummingbird</a>.</p>
  </div>
  <div ng-switch-when="loading">
    <div class="splash">
      <img src="/assets/img/ajax-loader.gif"> Loading...
    </div>
  </div>
  <div ng-switch-when="error">
    <div class="splash">
      <p><span class="glyphicon glyphicon-warning-sign"></span> An error occurred.</p>
      <p><button class="btn btn-default" ng-click="loadPage()">Retry</button></p>
    </div>
  </div>
</div>