<div class="container-fluid">
  <div class="animewatching-entry" ng-repeat="anime in animelist">
    <div class="animewatching-caret">
      <div class="animewatching-box">
        <div class="animewatching-text glyphicon glyphicon-chevron-down"></div>
      </div>
    </div>
    <div class="animewatching-title">
      <div class="animewatching-box">
        <p class="animewatching-text">{{ anime.anime.title }}</p>
      </div>
    </div>
    <div class="animewatching-progress">
      <div class="animewatching-box">
        <p class="animewatching-text">
          {{ anime.episodes_watched}} /
          <span ng-if="anime.anime.episode_count > 0">{{ anime.anime.episode_count }}</span>
          <span ng-if="anime.anime.episode_count == 0">?</span>
        </p>
      </div>
    </div>
  </div>
</div>