@()
<!DOCTYPE html>
<html ng-app="awApp">
  <head>
    <title>Advance Wars Online</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("aw/css/main.css")" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">
  </head>
  <body ng-controller="GameController">
  	<p><a href="/">Back home</a></p>
  	<div class="container">
      <div class="row" id="buttons">
        <a type="button" class="btn btn-default" ng-click="loadMap()">Reload</a>
      </div>
      <aw-grid></aw-grid>
      <div class="row" id="status">
        <ul class="dl-horizontal" id="status-list">
          <li><strong>Status:</strong> <span ng-class="status.classes">{{ status.message }}</span></li>
          <li><strong>Game ID:</strong> {{ gameId }}</li>
        </ul>
      </div>
    </div>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
    <script src="@routes.Assets.at("aw/js/directives/directives.js")"></script>
    <script src="@routes.Assets.at("aw/js/services/services.js")"></script>
    <script src="@routes.Assets.at("aw/js/controllers/controllers.js")"></script>
    <script src="@routes.Assets.at("aw/js/app.js")"></script>
  </body>
</html>