@()

<!DOCTYPE html>
<html ng-app="nateApp">
  <head>
    <title>Nate.</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/animewatching.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/aboutme.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/aboutsite.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">
  </head>
  <body>
    @navbar()
    <div ui-view></div>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("fastclick.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.min.js"))"></script>
    <script src="@routes.Assets.at("js/services/navbarServices.js")"></script>
    <script src="@routes.Assets.at("js/services/restServices.js")"></script>
    <script src="@routes.Assets.at("js/controllers/aboutControllers.js")"></script>
    <script src="@routes.Assets.at("js/controllers/animeControllers.js")"></script>
    <script src="@routes.Assets.at("js/controllers/homeControllers.js")"></script>
    <script src="@routes.Assets.at("js/app.js")"></script>
  </body>
</html>
