@()

<!DOCTYPE html>
<html ng-app="nateApp">
  <head>
    <title>Nate.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/animewatching.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/aboutme.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/aboutsite.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
  </head>
  <body>
    @navbar()
    <div ui-view></div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="@routes.Assets.at("js/lib/angular-ui-router.min.js")"></script>
    <script src="@routes.Assets.at("js/lib/fastclick.js")"></script>
    <script src="@routes.Assets.at("js/services/navbarServices.js")"></script>
    <script src="@routes.Assets.at("js/services/restServices.js")"></script>
    <script src="@routes.Assets.at("js/controllers/aboutControllers.js")"></script>
    <script src="@routes.Assets.at("js/controllers/animeControllers.js")"></script>
    <script src="@routes.Assets.at("js/app.js")"></script>
  </body>
</html>
