@(title: String)(css: Seq[String])(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    @for(sheet <- css) {
      <link rel="stylesheet" href="@routes.Assets.at(sheet)" />
    }
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    @navbar()
    @content
  </body>
</html>
